<section class="content-header">
  <div class="d-inline-flex justify-content-center">
    <button class="btn mr-2"><i class="fas fa-angle-left fa-lg"></i></button>
    <a href="#"><img class="profile-user-img img-circle mr-2 story" src="assets/images/user.jpg" alt="User profile picture"></a>
    <a href="#"><img class="profile-user-img img-circle mr-2 story" src="assets/images/user.jpg" alt="User profile picture"></a>
    <a href="#"><img class="profile-user-img img-circle mr-2 story" src="assets/images/user.jpg" alt="User profile picture"></a>
    <a href="#"><img class="profile-user-img img-circle mr-2 story" src="assets/images/user.jpg" alt="User profile picture"></a>
    <a href="#"><img class="profile-user-img img-circle mr-2 story" src="assets/images/user.jpg" alt="User profile picture"></a>
    <a href="#"><img class="profile-user-img img-circle mr-2 story" src="assets/images/user.jpg" alt="User profile picture"></a>
    <a href="#"><img class="profile-user-img img-circle mr-2 story" src="assets/images/user.jpg" alt="User profile picture"></a>
    <button class="btn"><i class="fas fa-angle-right fa-lg"></i></button>
 </div>
</section>
